{% set form = hookable_metadata.context.form.gatewayConfig.config.payment_method_types %}
{% form_theme form '@FluxSESyliusStripePlugin/admin/payment_method/form/stripe_form_theme.html.twig' %}

<div class="col-12 col-md-6 mt-4{{ form.vars.valid ? '' : ' border rounded border-danger' }}">
    {{ form_label(form) }}

    {{ form_errors(form) }}

    <div {{ sylius_test_html_attribute('config-payment-method-types') }} >
        {% for child_form in form %}
            {% hook 'payment_method_types' with { form: child_form } %}
        {% endfor %}
    </div>

    {{ form_row(form.vars.button_add, sylius_test_form_attribute('add-payment-method-type')) }}
</div>
