<div class="col-12 col-md-6 mt-md-field">
    <div class="alert alert-info" {{ sylius_test_html_attribute('secret-key-info') }}>
        <div class="d-flex align-items-start">
            <div class="me-2">{{ ux_icon('tabler:circle-check', {'class': 'icon alert-icon text-success'}) }}</div>
            <div>
                <p class="fw-bold mb-1">
                    {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.info.secret_key_recommended_title'|trans }}
                </p>
                <p class="fw-bold mb-2">
                    {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.info.secret_key_recommended_body'|trans }}
                </p>
                <p class="mb-3">
                    <a class="fw-bold text-decoration-none" href="https://marketplace.stripe.com/apps/install/link/com.sylius.stripe" target="_blank" rel="noopener noreferrer">
                        {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.action.open_stripe_app'|trans }}
                    </a>
                </p>
                <hr class="my-2">
                <p class="mb-1 text-muted">
                    {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.info.secret_key_legacy_body'|trans }}
                </p>
                <p class="mb-0">
                    <a class="text-decoration-none" href="https://dashboard.stripe.com/apikeys" target="_blank" rel="noopener noreferrer">
                        {{ 'flux_se_sylius_stripe_plugin.form.gateway_configuration.stripe.action.secret_key'|trans }}
                    </a>
                </p>
            </div>
        </div>
    </div>
</div>
