{% set form = hookable_metadata.context.form.gatewayConfig.config.webhook_secret_keys %}
{% form_theme form '@FluxSESyliusStripePlugin/admin/payment_method/form/stripe_form_theme.html.twig' %}

<div class="col-12 col-md-6 mt-4{{ form.vars.valid ? '' : ' border rounded border-danger' }}">
    {{ form_label(form) }}

    {{ form_errors(form) }}

    <div {{ sylius_test_html_attribute('webhook-secret-keys') }} >
        {% for child_form in form %}
            {% hook 'webhook_secret_keys' with { form: child_form } %}
        {% endfor %}

        {{ form_row(form.vars.button_add, sylius_test_form_attribute('add-webhook-secret-key')) }}
    </div>
</div>
