{% import "@SyliusShop/shared/macro/money.html.twig" as money %}

{# @var model \Stripe\PaymentIntent #}
{% set model = hookable_metadata.context.model %}
{% set action_url = hookable_metadata.context.action_url %}

<form id="payment-form">
	<div id="payment-element"></div>

	<div class="btn-list mt-3">
		<button type="submit" class="btn btn-primary" disabled>
			{{ 'flux_se_sylius_stripe_plugin.order_pay.web_elements.pay'|trans }}
		</button>
		<a class="btn" href="{{ action_url }}">{{ 'sylius.ui.cancel'|trans }}</a>
	</div>

	<div id="error-message" class="d-none alert alert-danger mt-3"></div>
</form>

{% if app.debug %}
	<p class="col mt-3 text-muted">
		Payment methods are dynamically displayed based on customer location, order amount, and currency.
		<a href="https://dashboard.stripe.com{{ model.livemode ? '' : '/test' }}/settings/payment_methods/review?transaction_id={{ model.id }}" target="_blank" rel="noopener noreferrer">
			Preview payment methods by transaction
		</a>
	</p>
{% endif %}
